*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}
h2{
   white-space: nowrap;
   text-align: center;
   font-size: 15vw;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   position: absolute;
   z-index: 3;
}

.B1{
   position: relative;
   height: 450px;
   width: 100vw;
   display: grid;
   justify-items: center;
}

.B2{
   position: relative;
   height: 210px;
   width: 100vw;
   display: grid;
   justify-items: center;
}

img{
   bottom: 50%;
   position: absolute;
}

div#Reference{
   top: 0%;
   left: 1%;
   position: absolute;
   z-index: 10;
   color: white;
   font-size: 0.7rem;
}

/* Xbox 360 */
div#Xbox360-background-1{
   z-index: 0;
    background: radial-gradient(circle, #c9ff8c, rgb(5, 51, 9));
}
div#Xbox360-background-2{
   background: radial-gradient(circle, #b8f177, rgb(30, 58, 35));
}
#Xbox360-background-2 img{
   height: 450px;
   width: 350px;
   -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   z-index: 0;
}

/* Xbox One */
div#XboxOne-background-1{
   z-index: 1;
    background: radial-gradient(circle, #27a325, rgb(10, 71, 5));
}
div#XboxOne-background-2{
   background: radial-gradient(circle, #218120, rgb(41, 122, 24));
}
#XboxOne-background-2 img{
   bottom: -40%;
   height: 600px;
   width: 700px;
   -webkit-box-reflect: below -290px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   z-index: 1;
}

/* Xbox Series S */
div#seriesS-background-1{
   z-index: 2;
    background: radial-gradient(circle, rgb(235, 235, 235), rgb(15, 15, 15));
}
div#seriesS-background-2{
   background: radial-gradient(circle, rgb(255, 255, 255), black);
}
#seriesS-background-2 img{
   height: 450px;
   width: 350px;
   -webkit-box-reflect: below -3px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   z-index: 2;
}

/* Xbox Series X */
div#seriesX-background-1{
   z-index: 3;
    background: radial-gradient(circle, rgb(0, 143, 7), rgb(15, 15, 15));
}
div#seriesX-background-2{
   background: radial-gradient(circle, rgb(0, 105, 5), black);
}
#seriesX-background-2 img{
   height: 450px;
   width: 650px;
   -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   z-index: 3;
}

/* Playstation 2 */
div#play2-background-1{
    z-index: 4;
    background: radial-gradient(circle, rgb(43, 45, 70), rgb(15, 15, 15));
}
div#play2-background-2{
   background: radial-gradient(circle, rgb(40, 48, 73), black);
}
#play2-background-2 img{
   bottom: 50px;
   height: 500px;
   width: 450px;
   -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   z-index: 4;
}

/* Playstation 3 */
div#play3-background-1{
    z-index: 4;
    background: radial-gradient(circle, rgb(0, 14, 138), rgb(15, 15, 15));
}
div#play3-background-2{
   background: radial-gradient(circle, rgb(16, 34, 90), black);
}
#play3-background-2 img{
   bottom: -0.1%;
   height: 500px;
   width: 450px;
   -webkit-box-reflect: below -80px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   z-index: 4;
}

/* Playstation 4 */
div#play4-background-1{
    z-index: 4;
    background: radial-gradient(circle, rgb(63, 63, 63), rgb(15, 15, 15));
}
div#play4-background-2{
   background: radial-gradient(circle, rgb(31, 31, 31), black);
}
#play4-background-2 img{
   z-index: 4;
   height: 450px;
   width: 450px;
   -webkit-box-reflect: below -35px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

/* Playstation 5 */
div#play5-background-1{
    z-index: 5;
    background: radial-gradient(circle, rgb(0, 18, 185), rgb(15, 15, 15));
}
div#play5-background-2{
   background: radial-gradient(circle, rgb(0, 24, 129), black);
}
#play5-background-2 img{
   z-index: 5;
   height: 400px;
   width: 600px;
   size: 50%;
   -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
   
}

/* Nintendo Normal */
div#switch-background-1{
    z-index: 6;
    background: radial-gradient(circle, rgb(255, 29, 29), rgb(15, 15, 15));
}
div#switch-background-2{
   background: radial-gradient(circle, rgb(167, 0, 0), black);
}
#switch-background-2 img{
   z-index: 6;
   height: 400px;
   width: 600px;
   -webkit-box-reflect: below -0% linear-gradient(transparent, rgba(0, 0, 0, 0.5));  
}

/* Nontendo Oled */
div#Oled-background-1{
    z-index: 7;
    background: radial-gradient(circle, rgb(255, 123, 0), rgb(15, 15, 15));
}
div#Oled-background-2{
   background: radial-gradient(circle, rgb(167, 75, 0), black);
}
#Oled-background-2 img{
   z-index: 7;
   height: 350px;
   width: 600px;
   -webkit-box-reflect: below -8px linear-gradient(transparent, rgba(0, 0, 0, 0.5));  
}